# Configuration Django
SECRET_KEY=z_#kmvp7hr#hly)&73%r=eq8=mapxtboq6i(2obd6i=$dpr_2&
DEBUG=True

# Base de données (pour plus tard)
# DATABASE_URL=postgresql://user:password@localhost:5432/amcd57

# API Keys
OPENWEATHER_API_KEY=

# Email (pour plus tard)
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=votre@email.com
# EMAIL_HOST_PASSWORD=votre_mot_de_passe
# EMAIL_USE_TLS=True